<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Books</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/main.css">
	<script src="/assets/script.js"></script>
	<script src="https://kit.fontawesome.com/eee46aa2f8.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header">
		<button class="btn btn-light" onclick="randomColor()"
			style="font-size: 12px; position: fixed; top: 69px; left: 0%; padding: 1px; border-radius: 0px;">Random background</button>
			<a th:if="${session.user != null}" href="/logout" style="position: fixed; right:0px; top: 25px;
			 background-color: white; padding: 5px; font-size: 20px; font-weight: 600; border-radius: 5px;">Đăng xuất</a>
			<a href="/books" style="font-size: 20px; font-weight: 500; position: fixed; top: 50px; left: 130px; color: white;">
				<i class="fa-solid fa-book"
					style="font-size: 30px; position: relative; top: -25px; left: 50%;">
				</i>
				<span>Trang chủ</span>
			</a>
			<div class="dropdown" style="position: fixed; top: 20px; right: 300px; color: white;">
				<div style="margin: 0px; padding: 0px;">
					<i class="fa-solid fa-envelopes-bulk" style="font-size: 25px;"></i>
				</div>
				<div>
					<button class="dropbtn" style="font-size: 20px; font-weight: 500;">Giao dịch</button>
				</div>
				<div class="dropdown-content" style="text-align: left;">
				  <a href="/yourpendingtrans">GD Đang Chờ</a>
				  <a href="/yourexpiredtrans">GD Đã Kết Thúc</a>
				</div>
			</div>
			<a href="/profile" style="font-size: 20px; font-weight: 500; position: fixed; top: 50px; right: 150px; color: white;">
				<i class="fa-regular fa-circle-user"
					style="font-size: 25px; position: relative; top: -25px; left: 50%;">
				</i>
				<span th:text="${session.user != null ? session.user.name : 'Tài khoản'}">Tài khoản</span>
			</a>
			<span style="font-size: 20px; font-weight: 500; color: white;">Tìm kiếm</span>
			<form action="/search" method="GET">
				<input type="search" name="search" id="search" style="padding: 3px 10px 3px 10px; border: 1px solid #dddddd; border-radius: 3px 0px 0px 3px;">
				<button type="submit" style="position: relative; right: 5px; 
				padding: 3px 10px 3px 10px; border: 1px solid #dddddd; border-radius:0px 3px 3px 0px;"><i class="fas fa-search"></i></button>
			</form>
	</header>
	<div class="container">
		<div class="row">
			<h1>List Books</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr style="text-align: center;">
					<th>ID</th>
					<th>Tiêu đề</th>
					<th>Tác giả</th>
					<th>Thể loại</th>
					<th>Ngày PH</th>
					<th>Số trang</th>
					<th>Đã bán</th>
					<th>Ảnh bìa</th>
					<th>Thao tác</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book: ${books}">
					<td th:text="${book.bid}"></td>
					<td th:text="${book.title}"></td>
					<td th:text="${book.author}"></td>
					<td>
						<span th:each="category: ${categories}"
				              th:if="${category.catid == book.category}"
				              th:text="${category.catname}">
				        </span>
					</td>
					<td th:text="${book.rlsdate}"></td>
					<td th:text="${book.pages}"></td>
					<td th:text="${book.sold}"></td>
					<td class="image-column" style="padding: 0px;"><img th:src="${book.coverurl}" alt="Ko tim thay"></td>
					<td style="display: flex; justify-content: center;">
						<a th:href="@{book/{bid}(bid = ${book.bid})}" class="btn btn-success">View</a>
<!-- 						<form th:action="@{book/delete/{bid}(id=${book.bid})}" th:method="DELETE" -->
<!-- 							th:onSubmit="return confirm('Xóa thông tin bạn sinh viên [[${book.title}]] có ID_[[${book.bid}]] ở dòng đã chọn khỏi CSDL?')"> -->
<!-- 							<button type="submit" class="btn btn-danger ml-3" style="margin-left: auto">Delete</button> -->
<!-- 						</form> -->
					</td>
				</tr>
			</tbody>
		</table>
<!-- 		<a th:href="@{book/{bid}(bid = -1)}" class="btn btn-success col-lg-12">New book</a> -->
	</div>
</body>

</html>